<h1>Contacts List</h1>

<div class="counter">
  There are <b><%= @contacts.length %></b> contacts
</div>
<ul>
  <% @contacts.each do |contact|%>
  <li>
    <b><%= contact.full_name %></b> [ <a href="mailto:<%= contact.email %>"><%= contact.email %></a> ]
    <br>
    <%= contact.note %>
    <br>
    <small><a href="/contacts/<%= contact.id %>">Edit</a> | <a href="#">Delete</a></small>
  </li>
  <% end %>
</ul>

<a href="/">Back to home</a>
