<h1>Contacts List</h1>

<div class="counter">
  There are <b><%= @contacts.length %></b> contacts
</div>
<ul>
  <% @contacts.each do |contact|%>
  <li>
    <b><a href="/contacts/<%= contact.id %>"><%= contact.full_name %></a></b> [ <a href="mailto:<%= contact.email %>"><%= contact.email %></a> ]
    <br>
    <%= contact.note %>
    <br>
    <form action='/contacts/<%= contact.id %>' method='post'>
      <input type='hidden' name='_method' value='delete'>
    <small><a href="/contacts/<%= contact.id %>/edit">Edit</a>
      | <button type="submit">Delete</button>
    </small>
    </form>
  </li>
  <% end %>
</ul>

<a href="/">Back to home</a>
